@charset "UTF-8";
.header-1{
	color:red;
	text-align: center;
	
}
.header-2{
	color:blue;
	text-align: center;
}
.table-1{
	 margin-left: auto;
  margin-right: auto;
}
.form-1{
	 text-align: center;
}
table tr{
	margin-top:10px;
}
